
/* header style */
.header-wrapper p{
    color:#fff;
    font-size:1.6rem;
    margin:auto;

}
p .special{

    background-color: rgb(247, 247, 247);
    color:#000;
    padding:0 1rem;
    border-radius: 12px;

}
.header-wrapper{
    display: flex;
    background-color: #06b1a3;
    height:25vh;


}

/* footer style */
#page-footer {

    padding:1rem .4rem;
    background-color:rgba(0,0,0,1);
    color:#fff;

}

.footer h3,
.footer div p{ 
    font-family:serif;
    text-transform: capitalize;
}

.footer h3{padding-left:1.2rem;}

.footer h3::after{

    content: ' ';
    display: block;
    position:absolute;
    width:0%;
    height:0px;
    margin-top:4px;
    background-color: #06b1a3;
    border-radius: 10px;
    transition:height 200ms, width 100ms;


}
h3:hover::after{height:3px; width:8rem;}
.f-w-wrapOne div p{

    margin:0;
    padding:1rem .2rem;
}
@media screen and (min-width:620px){

.desktop{ display:flex; justify-content: space-around; }
.desktop div{ border-bottom:2px solid #06b1a3; }

}

.desktop {  padding:1.4rem 1rem; }
.footer-end-note{ padding:1rem 0; color:#bbb;}
.flex{  display: flex; 
    justify-content: center;
    align-content: center;
}
.flex span{

    padding:0 .4rem;

}
#profile{

    border-radius: 100%;

}
#profile:hover{
    border:2px solid #06b1a3; ;
}