
/* header style */

.header-wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-header{
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    width:80%;
    height:60%;
   
    border-left: 4px cyan solid;
    border-radius: 10px;
    
    background-color: rgb(11, 60, 60);
    color:#fff;
}

.left h1{
    font-family: serif;
    
}
.arrow{
    color:#fff;
    font-size: 120%;
    padding:.5rem;
}
.special{
    color:cyan;
    font-weight: bold;
}

@media screen and (max-width:720px){
    .content-header{
       padding:.5rem;
    }
    .left h1{
        margin:0;
        font-size: 80%;
    }
}
@media  screen and (max-width:720px) {
    .header-wrapper{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,1fr);
       
    }
    
}
.header-wrapper .right video{
    max-width: 100%;
    max-height: 100%;
}









/**
    *header style
    *end
    *here

 */

/* footer style */
#page-footer {

    padding:1rem .4rem;
    background-color:rgba(0,0,0,1);
    color:#fff;

}

.footer h3,
.footer div p{ 
    font-family:serif;
    text-transform: capitalize;
}

.footer h3{padding-left:1.2rem;}

.footer h3::after{

    content: ' ';
    display: block;
    position:absolute;
    width:0%;
    height:0px;
    margin-top:4px;
    background-color: #06b1a3;
    border-radius: 10px;
    transition:height 200ms, width 100ms;


}
h3:hover::after{height:3px; width:8rem;}
.f-w-wrapOne div p{

    margin:0;
    padding:1rem .2rem;
}
@media screen and (min-width:620px){

.desktop{ display:flex; justify-content: space-around; }
.desktop div{ border-bottom:2px solid #06b1a3; }

}

.desktop {  padding:1.4rem 1rem; }
.footer-end-note{ padding:1rem 0; color:#bbb;}
.flex{  display: flex; 
    justify-content: center;
    align-content: center;
}
.flex span{

    padding:0 .4rem;

}
#profile{

    border-radius: 100%;

}
#profile:hover{
    border:2px solid #06b1a3; ;
}